<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Lobby

    <form id="form" action="">
      <input type="text" name="message" />
    </form>

    <div id="messages"></div>

    <!-- Official Document
<input type="text" id="room-name-input"><br>
<input type="text" id="room-name-submit" type="button" value="Enter"> -->
  </body>
  <script type="text/javascript">
    let url = `ws://${window.location.host}/ws/socket-server/`;

    const chatSocket = new WebSocket(url);

    chatSocket.onmessage = function (e) {
      let data = JSON.parse(e.data);
      console.log("Socket Start, data: ", data);

      if (data.type === "chat") {
        let messages = document.getElementById("messages");
        messages.insertAdjacentHTML(
          "beforeend",
          `<div><p>${data.message}</p></div>`
        );
      }
    };

    chatSocket.onclose = () => {
      console.log("Socket Stop");
    };

    let form = document.getElementById("form");
    form.addEventListener("submit", (e) => {
      e.preventDefault();
      let message = e.target.message.value;
      chatSocket.send(
        JSON.stringify({
          message: message,
        })
      );
      form.reset();
    });

    // // Official site
    // document.querySelector('#room-name-input').focus();
    // document.querySelector('#room-name-input').onkeyup = (e) => {
    //     if (e.keyCode === 13) { // enter, return
    //         document.querySelector('#room-name-submit').click();
    //     }
    // };

    // document.querySelector('#room-name-submit').onclick = (e) => {
    //     let roomName = document.querySelector('#room-name-input').value;
    //     window.location.pathname = '/' + roomName + '/';
    // }
  </script>
</html>
